.home_wrapper {
  height: calc(100% - 6em);
  width: calc(100% - 4em);
  position: relative;
  margin: 3em 2em;
  background: var(--primary-black);
}

.home_container {
  text-align: center;
  position: relative;
  width: 77%;
  font-family: "Playfair Display";
  box-shadow: 0 30px 60px rgb(0 0 0 / 35%);
  padding: 2em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.home_title {
  /* white-space: pre-line; */
  line-height: 42px;
  font-size: 36px;
}

.home_subtitle,
.home_intro {
  /* white-space: pre-wrap; */
  line-height: 30px;
  font-size: 20px;
}

.home_curr_info {
  line-height: 24px;
  font-size: 18px;
}

.home_subtitle {
  color: #a0a0a0;
  color: #ffe6e6;
  color: #f0a500;
  /* DA0037 444444 EDEDED */
}

.home_intro,
.home_curr_info {
  text-align: left;
  letter-spacing: 0.0075vw;
}

.social_link {
  margin: 1em 0 0 0;
}

.social {
  text-transform: uppercase;
  font-size: 12px;
  margin-right: 0.75em;
}

.social:last-child {
  margin-right: 0;
}

.social::after {
  /* background: rgb(163, 138, 138); */
  content: "|";
  margin-left: calc(0.75em / 2);
}

.social:last-child::after {
  content: none;
}
