/* nav.nav_wrapper {
  height: 64px;
} */

nav.nav_wrapper {
  position: relative;
  height: 100vh;
  padding: 0 0 0 3em;
  width: 170px;
  /* display: inline-block; */
}

.nav_link {
  display: block;
  margin: 0;
  font-size: 20px;
  text-transform: uppercase;
  transition: color 1s, text-decoration 1.5s;
  line-height: 36px;
}

.nav_link:hover {
  color: var(--link);
  /* text-decoration: underline; */
}

.nav_menu {
  position: absolute;
  bottom: 0;
  padding: 0 0 3em 0;
  width: 100px;
}

.logo {
  display: inline-block;
  letter-spacing: 0.233em;
  text-transform: uppercase;
  margin: 1em 0 0 0;
  height: calc(64px - 2em);
  font-size: 12px;
  line-height: calc(64px - 2em);
}

.nav_strike {
  text-decoration: line-through;
  color: var(--link);
  /* text-decoration-color: thistle; */
}

.nav_no_strike {
  text-decoration: none;
}

.nav_title {
  font-family: " museo-sans";
}

@media screen and (max-width: 800px) {
  nav.nav_wrapper {
    position: relative;
    height: 100px;
    width: 100%;
    display: inline-block;
  }

  .nav_menu {
    position: absolute;
    display: inline-block;
    top: 1em;
    right: 1em;
    padding: 0;
    width: auto;
    bottom: auto;
  }

  .nav_link {
    display: inline;
    padding: 0 10px;
    line-height: normal;
    font-size: 16px;
  }

  .nav_title {
    display: inline-block;
    font-size: 16px;
    text-align: center;
  }
  .nav_title:not(:first-of-type) {
    margin: 0 0 0 5px;
  }

  .logo {
    display: block;
    /* line-height: calc(44px - 1em);
    height: calc(44px - 1em); */
    font-size: 18px;
  }
}

@media screen and (max-width: 500px) {
  .nav_menu {
    position: relative;
    display: block;
    left: 0;
    right: 0;
  }
}

@media screen and (max-width: 500px) {
  .nav_wrapper {
    text-align: center;
    padding: 0;
  }
}

@media screen and (min-width: 0px) and (max-width: 500px) {
  nav.nav_wrapper {
    position: relative;
    height: 100px;
    width: 100%;
    display: inline-block;
    padding: 0;
  }
}
