.work_wrapper,
.work_container {
  position: relative;
  height: 100%;
  width: 100%;
}
.work_wrapper {
  overflow: hidden;
}

.work_slider {
  display: inline-block;
  list-style-type: none;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(110%);
  transition: all 0.6s cubic-bezier(0.15, 0.005, 0.155, 1);
  padding: 3em 4em;
}

.work_slider__active {
  transform: translateY(0);
}

.work_slider__prev {
  transform: translateY(-110%);
}

.work_slider__no_transition {
  transition: all 0s;
}

.work_slider::after {
  top: 1em;
}

.work_slider::before {
  bottom: 1em;
}

.button_up,
.button_down {
  position: absolute;
  z-index: 2;
  height: 3em;
  width: 3em;
  top: 50%;
  left: 3.5em;
  border: none;
  border-radius: 50%;
  transform: translateY(-50%) translateY(-1.5em) rotate(90deg);
  box-shadow: 0px 1px 20px 0px #6b6b6b36;
}

/* .button_up {
} */

.button_down {
  transform: translateY(-50%) translateY(2em) rotate(90deg);
}

.work_slider__content {
  box-shadow: 0 30px 60px rgb(0 0 0 / 35%);
  height: 100%;
}
