.work_wrapper,
.work_container {
  position: relative;
  height: 100%;
  width: 100%;
}
.work_wrapper {
  overflow: hidden;
}

.work_slider {
  display: inline-block;
  list-style-type: none;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(110%);
  transition: all 0.6s cubic-bezier(0.15, 0.005, 0.155, 1);
  padding: 3em 4em;
}

.work_slider__active {
  transform: translateY(0);
}

.work_slider__prev {
  transform: translateY(-110%);
}

.work_slider__no_transition {
  transition: all 0s;
}

.work_slider::after {
  top: 1em;
}

.work_slider::before {
  bottom: 1em;
}

.button_up,
.button_down {
  position: absolute;
  z-index: 2;
  height: 3em;
  width: 3em;
  top: 50%;
  left: 3.5em;
  border: none;
  border-radius: 50%;
  transform: translateY(-50%) translateY(-1.5em) rotate(90deg);
  box-shadow: 0px 1px 20px 0px #6b6b6b36;
}

/* .button_up {
} */

.button_down {
  transform: translateY(-50%) translateY(2em) rotate(90deg);
}

.work_slider__content {
  box-shadow: 0 30px 60px rgb(0 0 0 / 35%);
  height: 100%;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: black;
}

.slide_no {
  line-height: 120px;
  position: absolute;
  left: -25px;
  bottom: 0;
  font-size: 120px;
  /* display: block; */
  /* color: var(--primary-black); */
  color: var(--primary-white);
  font-weight: 900;
  font-family: museo-sans;
}

.work_slide_role,
.work_slide_company {
  position: relative;
  display: inline-block;
  /* color: var(--primary-black); */
  color: var(--primary-white);
  margin: 1em 0 0 0;
  font-size: 14px;
  font-family: museo-sans;
  text-transform: uppercase;
}

.work_slider__content::before {
  top: 0;
}

.work_slider__content::after {
  bottom: 0;
}

.work_slider__content::before,
.work_slider__content::after {
  content: "";
  position: absolute;
  height: 40%;
  width: 1px;
  left: 60px;
  background: #ffffff;
  z-index: 2;
  opacity: 0.2;
}

.work_slide_role_title,
.work_slide_company_title {
  font-size: 12px;
  letter-spacing: 0.1em;
  font-family: museo-sans;
}

.work_slide_content {
  display: inline-block;
  height: auto;
  position: absolute;
  top: 50%;
  left: 2.5em;
  transform: translateY(-50%) translateY(-0.5em);
}

.work_slide_project_main_wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.work_slide_project_name {
  display: inline-block;
  line-height: 48px;
  font-size: 48px;
  /* color: var(--primary-black); */
  color: var(--primary-white);
  /* right: 0; */
}

.see_more_btn {
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  position: relative;
  z-index: 2;
  box-shadow: 0 0 0 2px inset #fff;
  border-radius: 5px;
  font-size: 16px;
  margin: 2em 0 0 0;
  height: 56px;
  width: 165px;
  line-height: 56px;
  /* padding: 0.75em; */
  text-transform: uppercase;
  /* transition: all 0.2s cubic-bezier(0.15, 0.005, 0.155, 1); */
}

.see_more_btn:hover {
  color: #183df2;
}

.see_more_btn::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 120%;
  height: 100%;
  background: #fff;
  z-index: -1;
  transition: all 0.2s cubic-bezier(0.15, 0.005, 0.155, 1);
  transform: skew(-10deg) translate3d(-120%, 0, 0);
}

.see_more_btn:hover::after {
  transform: skew(-10deg) translate3d(-10%, 0, 0);
}
div.work_slide_in {
  /* transform: translateX(100%); */
  animation: inAnimation 500ms ease-in-out;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes inAnimation {
  0% {
    transform: translate(100%, 0);
    opacity: 0.1;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}

@media screen and (max-width: 800px) {
  .work_slide_content {
    display: inline-block;
    height: auto;
    top: auto;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .work_slider__content::before,
  .work_slider__content::after {
    content: "";
    top: calc((25% / 2) + (1em / 2));
    left: auto;
    position: absolute;
    height: 1px;
    width: 40%;
    background: #ffffff;
    z-index: 2;
    opacity: 0.5;
  }

  .work_slider__content::before {
    left: 0;
    /* display: none; */
  }

  .work_slider__content::after {
    right: 1em;
  }

  .work_slide_role,
  .work_slide_company {
    text-align: center;
    width: 100%;
  }
}

@media screen and (max-width: 900px) {
  .work_slide_project_name {
    line-height: 32px;
    font-size: 32px;
    /* color: var(--primary-black); */
    color: var(--primary-white);
    /* right: 0; */
  }
  .work_slide_role,
  .work_slide_company {
    font-size: 12px;
  }

  .see_more_btn {
    /* font-size: 14px; */
    line-height: 32px;
    height: auto;
    width: auto;
    padding: 10px;
  }
}

@media screen and (max-width: 500px) {
  .work_slider {
    /* display: inline-block;
    list-style-type: none;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0; */
    /* transform: translateY(110%); */
    transition: all 0.6s cubic-bezier(0.15, 0.005, 0.155, 1);
    padding: 1em 1.5em;
  }

  .work_slide_project_name {
    line-height: 24px;
    font-size: 24px;
    /* color: var(--primary-black); */
    color: var(--primary-white);
    /* right: 0; */
  }

  .see_more_btn {
    /* font-size: 14px; */
    line-height: unset;
    font-size: 14px;
    height: auto;
    width: auto;
    padding: 10px;
  }

  .button_up,
  .button_down {
    left: 0.5em;
  }
}
